<div>
  <% if @current_user%>

  <h1>New Place</h1>

  <%= form_with :model => @place do |form| %>
    <p>
      <%= form.label "name", class: "form-label" %>
      <%= form.text_field "name", class: "form-control" %>
    </p>
    <div class = "mt-4">
          <%= form.submit "Create Place", class: "btn btn-dark"%>
    </div>
    <% end %>
    <% else %>
    You must be <a href="/login">logged in</a>.
    <% end %>
    </div>